.dropdown {
}

.dropdown-text {
    padding: 10px;
    border: 5px solid #123;
    cursor: pointer;
}

.dropdown-options {
    padding: 10px;
    border: 10px solid #123;
    background: red;
    cursor: pointer;
}

.dropdown-selected {
}
